<footer class="footer py-3 mt-auto" style="background: rgba(132, 82, 16, 0.6)"> <!--  rgba(133, 113, 1) -->
    <div class="container">
        <span style="color: black;">&copy; Tripazo 2022</span>
    </div>
</footer>

