<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPAZO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

</head>

<body class="container-fluid d-flex text-center text-white bg-dark">
    <div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>               
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <div class="container-fluid ">
                      <a class="navbar-brand" href="#">TRIPAZO</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse navbar-width" id="navbarSupportedContent">
                        
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                          </li>  
                          <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/campgrounds">Campground</a>
                          </li>
                          <% if(!currentUser) { %>
                            <li class="nav-item">
                                <a class="nav-link " href="/login">Login</a>
                               
                              </li>
                              <li class="nav-item">
                                
                                <a class="nav-link " href="/register">Register</a>
                              </li>
                            <% } else { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>                             
                            <% } %>                                       
                        </ul>
                        
                      </div>
                    </div>
                  </nav>
            </div>
        </header>
        <main class="px-3">
                <h1 style="font-size: 4rem;">TRIPAZO</h1>
                <p class="lead"> Welcome to Tripazo! <br> Jump right in and explore our many campgrounds. <br>
                    Feel free to share some of your own and comment on others!</p>
            
            <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white text-white border-0 mt-5" style="background-color: rgb(99, 170, 228);">View
                Campgrounds</a>
        </main>

        <footer class="mt-3 text-white-50">
            <p>&copy; 2022 </p>
        </footer>
        <div class="mb-5"></div>
        <div class="mb-5"></div>

    </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>