<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" id="newEjsForm" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" required>
                    <div class="valid-feedback">Hmm...Looks Good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location" required>
                </div>

            
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" id="price" class="form-control" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"
                        required></textarea>
                </div>

                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="image" name="image" multiple>
                  </div>
                  
                <button id="addCampground" class="btn btn-success">Add Campground</button>
            </form>
            <a href="http://localhost:3000/campgrounds"> <button class="btn btn-danger mt-2 mb-5">Cancel</button></a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/javascripts/antiDuplicate.js"></script>